{% extends "basic/basic.html" %}
{% load static %}
{% block title %}
Staffs List
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Staffs List</h2>
    <a href="{% url 'create_user' %}" class="btn btn-secondary d-block ms-auto mb-4">Add New Staff</a>

    <input type="text" id="search-input" placeholder="Search Staffs" class="form-control mb-4" />

    <div class="row" id="user-list">
       {% include 'widgets/cards/user_card.html' with users=staffs %}
    </div>
</div>


{% include 'widgets/delete_confirmation_modal.html' %}
{% endblock content %}
{% block scripts %}
<script>
    document.getElementById('search-input').addEventListener('input', searchUsers);
    var role = 'Office Staff';

    function searchUsers() {
        var query = document.getElementById('search-input').value;

        fetch(`{% url 'search_users' %}?role=${role}&q=${query}`)
            .then(response => response.json())
            .then(data => {
                const userList = document.getElementById('user-list');
                userList.innerHTML = ''; // Clear existing user list

                if (data.users.length > 0) {
                    data.users.forEach(function (staff) {
                        userList.innerHTML += `
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card border-dark">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h5 class="card-title mb-0">${staff.username}</h5>
                                                <small class="text-muted">${staff.email}</small>
                                            </div>
                                            <div class="dropdown">
                                                <i class="fa-solid fa-ellipsis-vertical" type="button" id="dropdownMenuButton${staff.id}"
                                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                </i>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton${staff.id}">
                                                    <li><a class="dropdown-item" href="/user/${staff.id}/edit/">Edit</a></li>
                                                    <li>
                                                        <button type="button" class="dropdown-item text-danger" data-bs-toggle="modal"
                                                                data-bs-target="#deleteModal" data-user-id="${staff.id}" 
                                                                data-user-name="${staff.username}">
                                                            Delete
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                    });
                } else {
                    userList.innerHTML = `
                        <div class="col-12">
                            <div class="alert alert-info text-center">No staffs found.</div>
                        </div>
                    `;
                }
            });
    }
</script>
<script src="{% static 'js/delete_confirmation_modal.js' %}"></script>
{% endblock scripts %}