{% extends "basic/form_basic.html" %}

{% block title %}
Create Fee Record
{% endblock title %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/form_style.css' %}">
{% endblock style %}


{% block content %}
<div class="container mb-5">
    <div class="text-center">
        <h2 class="text-center">Create New Free</h2>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block mt-3">Create User</button>
    </form>
</div>


{% endblock %}

{% block scripts %}

{% endblock scripts %}
    